Repository kloudkit/ws-helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-workspace, helm-lint-workspace-project, helm-lint-workspace-system

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=300
      - id: check-json
      - id: check-yaml
        exclude: ^charts/[^/]+/templates
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-metaschema
        files: ^charts/[^/]+/values\.schema\.json$

  - repo: local
    hooks:
      - id: helm-lint-workspace
        name: helm lint (workspace)
        entry: shared/scripts/helm-lint-with-deps.sh charts/workspace
        language: script
        files: ^charts/workspace
        pass_filenames: false

      - id: helm-lint-workspace-project
        name: helm lint (workspace-project)
        entry: helm lint charts/workspace-project
        language: system
        files: ^charts/workspace-project
        pass_filenames: false

      - id: helm-lint-workspace-system
        name: helm lint (workspace-system)
        entry: shared/scripts/helm-lint-with-deps.sh charts/workspace-system
        language: script
        files: ^charts/workspace-system
        pass_filenames: false

🔀 Add routing
  .github/workflows/ci.yaml
  charts/workspace-project/Chart.yaml
  charts/workspace-project/templates/networkpolicy/allow-dns.yaml
  charts/workspace-project/templates/networkpolicy/allow-external-egress.yaml
  charts/workspace-project/templates/networkpolicy/allow-ingress-controller.yaml
  charts/workspace-project/templates/networkpolicy/allow-intra-namespace.yaml
  charts/workspace-project/templates/networkpolicy/allow-isolated-egress.yaml
  charts/workspace-project/templates/networkpolicy/allow-shared-services.yaml
  charts/workspace-project/templates/networkpolicy/allow-zone-isolated.yaml
  charts/workspace-project/templates/networkpolicy/allow-zone-project.yaml
  charts/workspace-project/templates/networkpolicy/default-deny.yaml
  charts/workspace-project/tests/networkpolicy/allow-ingress-controller_test.yaml
  charts/workspace-project/tests/networkpolicy/allow-intra-namespace_test.yaml
  charts/workspace-project/tests/networkpolicy/allow-isolated-egress_test.yaml
  charts/workspace-project/tests/networkpolicy/allow-shared-services_test.yaml
  charts/workspace-project/tests/networkpolicy/allow_dns_test.yaml
  charts/workspace-project/tests/networkpolicy/allow_external_egress_test.yaml
  charts/workspace-project/tests/networkpolicy/allow_zone_isolated_test.yaml
  charts/workspace-project/tests/networkpolicy/allow_zone_project_test.yaml
  charts/workspace-project/tests/networkpolicy/default_deny_test.yaml
  charts/workspace-project/tests/shared_scripts_test.yaml
  charts/workspace-project/values.yaml
  charts/workspace-system/Chart.lock
  charts/workspace-system/Chart.yaml
  charts/workspace-system/templates/feature-store.yaml
  charts/workspace-system/templates/system.yaml
  charts/workspace-system/tests/feature_store_test.yaml
  charts/workspace-system/tests/networkpolicy/allow_global_ingress_test.yaml
  charts/workspace-system/tests/traefik_test.yaml
  charts/workspace-system/values.schema.json
  charts/workspace-system/values.yaml
  charts/workspace/templates/workspace.yaml
  charts/workspace/tests/ingress_test.yaml
  charts/workspace/tests/labels_test.yaml
  charts/workspace/values.yaml
  shared/scripts/helm-lint-with-deps.sh
Due: helm-lint-workspace, helm-lint-workspace-project, helm-lint-workspace-system

🔄 Sync updated `workspace` manifests @ 56deb40b9ffd77c924ee20088f319810446085ac
  charts/workspace/scripts/env.reference.yaml
Due: helm-lint-workspace

⬆ Add renovate.json
  renovate.json
Due: none

🔄 Sync shared files from `ws-meta`
  charts/workspace/scripts/env.reference.yaml
Due: helm-lint-workspace

🔧 Track the Docker version badge with Renovate
  README.md
  renovate.json
Due: none
